.list {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 4px;
}
.list::-webkit-scrollbar {
  width: 7px;
}
.list::-webkit-scrollbar-thumb {
  background: var(--border);
  border-radius: 10px;
}

.empty {
  flex: 1;
  display: grid;
  place-items: center;
  color: var(--text-dim);
  font-size: 14px;
  text-align: center;
}
